/* :root {
  scroll-behavior: auto;
} 
--> 부트스트랩에서 스크롤 움직임 스무스하게 바꿔주는 것을
막는 코드.
*/ 
.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display:none;
}
.list-group {
  display: none;
  position: sticky;
  top : 100px
}


.black-bg {
  width : 100%;
  height : 100%;
  position: fixed;
  background: gray;
  z-index: 12;
  padding: 30px;
  visibility: hidden;
  /* display none은 아예 없애버리는 것.
     visibility none은 안보이게만 하는 것. 
  */
  opacity : 0; /*투명도*/
  transition: all 1s;
  /* transition  -> 모든 css속성이 변할 때 1초에 걸쳐서 변하게 해주세요*/
}
.show{
  display: block;
}
.show-modal {
  visibility: visible;
  opacity: 1;
}
.hide {
  display: none;
}

.white-bg {
  width: 400px;
  height: 250px;
  background: white;
  border-radius: 3px;
  padding: 30px;
  
}
.dark {
  background: black;
  color: white;
}

.white {
  background: white;
  color: black;
}

.slide-container {
  width: 300vw;
  transition: all 1s;

}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}

.slide-btn {
  width: 100px;
  margin: auto;
  margin-top: 10px;
}
.navbar {
  height: 8vh;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.navbar-brand {
  font-size : 30px;
}
.progress {
  position: sticky;
  z-index: 10;
  top:80px;
}

ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
ul.list::after {
  content: '';
  display: block;
  clear: both;
}
.tab-button {
  display: block;
  padding: 10px 20px 10px 20px;
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
  color: grey;
  text-decoration: none;
  cursor: pointer;
}
.orange {
  border-top: 2px solid orange;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
  margin-top: -2px;
}
.tab-content {
  display: none;
  padding: 10px;
}

.show-content {
  display: block;
}

