
.top{
  height: 10vh;
  background-color: black;
  color: white;
  align-items: center;
}
.top h5 {
  margin-left: 20px;
}

.main-body{
  background-color: gainsboro;
  height: 90vh;
  overflow-x: scroll;
}
.main-body img {
  height: 100px;
  width: 100px;
}
.proCard {
  height: 250px;
  width: 200px;
  margin-left: 20px;
  background-color: white;
}

.card-container {
  display: flex;
}
.proCard div{
  margin-top: 5px;
}
.proCard {
  margin-top: 20px;
}

.proCard img{
  margin-left : 50px;
  margin-right : 50px;
  
}

.buyBtn{
  background-color: black;
  color: red;
}

.proStore-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: black;
}

.proStore-container > .proCard {
  border: 1px solid goldenrod;
}
.hidden {
  display: none;
}
.proCard1 {
  color: white;
}